main {
  .home {
    padding: 2rem;
    h2 {
      text-align: center;
      color: #2c5364;
      padding-bottom: 1rem;
      font-size: 2.7rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      .box-search {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-bottom: 1rem;
        overflow: hidden;
        input,
        select {
          border: 1px solid #ddd;
          outline: 0;
          text-transform: capitalize;
          cursor: pointer;
        }
        input {
          font-size: 1.5rem;
          padding: 1rem;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          border-right: 0;
        }
        select {
          border: 1px solid #aaa;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          color: #777;
        }
      }
      .products,
      .cartProducts,
      .favProducts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
        gap: 1.5rem;
        text-align: center;
        position: relative;
        .product {
          border: 1px solid #ddd;
          border-radius: 0.5rem;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          overflow: hidden;
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
            max-height: 13rem;
            object-fit: cover;
            margin-bottom: 0.5rem;
            border-bottom: 2px solid #eee;
            &:hover {
              transform: scale(1.1);
            }
          }
          .info {
            padding: 0.5rem;
            .name {
              font-size: 1.7rem;
              a {
                color: #3386aa;
                text-decoration: underline;
                text-decoration-color: #2c5364;
              }
            }
            .title {
              padding: 0.5rem 0;
              color: #2c5364;
              font-size: 1.5rem;
              line-height: 1.5;
            }
            h4,
            .quantity {
              font-size: 1.5rem;
              color: #2c5364;
            }
            .btns {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              gap: 01rem;
              margin-top: 0.5rem;
              .add,
              .love,
              .remove,
              .edit,
              .delete {
                cursor: pointer;
              }
              .add,
              .remove {
                text-transform: uppercase;
                padding: 0.5rem 1rem;
                font-size: 1.3rem;
                border-radius: 0.5rem;
                color: #fff;
                border: 0;
                background-color: #2c5364;
                &:hover {
                  opacity: 0.7;
                }
              }

              .love,
              .edit,
              .delete {
                background: transparent;
                border: 0;
                outline: 0;
                color: #2c5364;
                font-size: 2rem;
              }
            }
          }
        }
      }
      .create {
        .create-icon {
          position: fixed;
          right: 20px;
          bottom: 30px;
          background-color: #2c5364;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 1.7rem;
          color: #fff;
        }
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    min-height: calc(100vh - 5rem);
    .profile_img {
      border-radius: 50%;
      border: 0.4rem solid #2c5364;
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      object-position: center;
      margin: 1rem 0;
      align-self: center;
    }
    h2 {
      color: #2c5364;
      text-transform: uppercase;
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2rem;
      color: #2c5364;
    }
    h4 {
      padding: 1rem 0;
      font-size: 1.7rem;
      color: #2c5364;
    }
    .edit {
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      color: #fff;
      background-color: #2c5364;
      border: 0;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .single-product {
    margin-top: 3rem;
    border: 2px solid #ddd;
    div {
      img {
        width: 100%;
        min-height: 25rem;
        max-height: 50rem;
        object-fit: cover;
        object-position: center;
      }
      h3,
      h4,
      h5,
      p {
        color: #fff;
        background-color: #2c5364;
        padding: 0.7rem;
        text-transform: capitalize;
      }
      h3 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.7rem;
      }
      h4 {
        font-size: 1.7rem;
      }
      h5 {
        font-size: 1.5rem;
      }
    }
  }
}
